version: "3.9"

services:
  hardhat:
    image: node:20
    container_name: hardhat-node
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8545:8545"
    command: bash -c "npm install && npx hardhat node --hostname 0.0.0.0"
